
.container{
    max-width: 100%;
    
}
header{
    background-image: url(../img/pattern.png);
    background-color: dodgerblue;
    height: 80px;
    width: 100%;
    background-repeat: repeat-x;
    background-size: 300px;
    margin: 0;
}
.logo{
    width: 150px;
    margin-top: 30px;
}
img{
    max-width: 100%;
}
.remove-fonte{
    font-style: normal;
}
.small-font{
    font-size: 10px;
}